#head{width:100%;background:#fafafa;}
#head .wrap{width:1210px;margin:0 auto;height:36px;border-bottom:1px solid #dfdfdf;line-height:36px;}
#head .wrap .left{float:left;}
#head .wrap .left li{float:left;font-size:14px;color:#8c8c8c}
#head .wrap .left span{color:#8c8c8c}
#head .wrap .left .left-L{margin-left:10px;position:relative;}
#head .wrap .left .left-L .panel{display:none;width:150px;border:1px solid #fafafa;height:200px;
position:absolute;left:0;top:35px;background:#fff;}
#head .wrap .left .panel li{padding:0 5px;}
#head .wrap .left .left-L a{color:#8c8c8c}
#head .wrap .right{float:right}
#head .wrap .right li{float:left;position:relative;}
#head .wrap .right li a{font-size:14px;padding:0 10px;color:#8c8c8c}
#head .wrap .right span{color:#8c8c8c}
#head .wrap .right .pane2{z-index:999;background:#fff;position:absolute;left:0;top:36px;display:none;border:1px solid #dfdfdf}
#head .wrap .right a:hover{color:red;}

.search{clear:both;margin-top:30px;}
.search .wrap{width:1210px;margin:0 auto;clear:both;}
.search .wrap h2{float:left;clear:both;}
.search .wrap h2 img{width:154px;height:42px;}
.search .wrap .txt{float:right;position:relative;}
.search .wrap .txt .sou{position: absolute;left:460px;top:15px;z-index:999;}
.search .wrap .txt .text1{text-indent:12px;font-size:14px;width:444px;height:40px;float:left;}
.search .wrap .txt .text2{width:40px;height:44px;float:left;background:#fff;border:1px solid #CECECE;}
.search .wrap .txt .text2:hover{}
.search .wrap .txt a{display:inline-block;background:#feda4e;margin-left:20px;text-align: center;}
.search .wrap .txt a span{display:inline-block;width:50px;height:40px;line-height:40px;}

.nav{}
.nav .wrap{width:1210px;margin:0 auto;clear:both;}
.nav .wrap li{float:left;height:44px;background:#414045;line-height:44px;margin-top:20px;}
.nav .wrap .te{width:216px;background:#ff318c;}

.nav .wrap li a{font-size:18px;padding:0 30px;color:#fff;}
.nav .wrap li:hover{background:#000000;}
.nav .wrap .te1 a{padding-right:2px;}
.nav .wrap .te:hover dl{display:block;}
.nav .wrap .te dl{display:none;background:#F2F5F5;width:214px;height:52px;border-bottom:1px solid #C0C0C0;border-left:1px solid #C0C0C0 ;border-right:1px solid #C0C0C0 ;}
.nav .wrap .te dt{float:left;padding-left:10px}
.nav .wrap .te dt a{padding:0;font-size:18px;font-weight:900;color:#000000;line-height:52px;}
.nav .wrap .te dd{margin-right:10px;text-align: right;}
.nav .wrap .te dd a{padding:0;display:inline-block;font-size:12px;line-height:52px;color:yellow}
.nav .wrap .te{position:relative;}
.nav .wrap .te .ed{background:#B7B7B7;display:none;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed{display:block;}


.nav .wrap .te .ed1{display:none;background:#B7B7B7;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed1 a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed1 p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed1{display:block;}
.nav .te dl:hover{background:#ff318c;}


#main .content{width:980px;margin:0 auto;}
#main .content .top{margin-top:20px;border-bottom:1px solid #B7B7B7;padding-bottom:20px;}
#main .content .top a{padding:3px;font-size:14px;color:#BBBBBB;}
#main .content .top span{color:#ff4883;font-size:14px;}
#main .content h2{font-size:20px;font-weight:700;color:#000000;margin:10px 0}
#main .content span{font-size:14px;margin-bottom:10px;}
#main .content .center{margin-top:15px}
#main .content .center .left1{float:left;width:470px;height:418px;border:1px solid #AAAAAA;}
#main .content .center .left1 img{width:470px;height:285px;}
#main .content .center .right1{margin-left:20px;float:left;width:482px;height:345px;border:1px solid #AAAAAA}
#main .right1 .right1-L{padding:10px;}
#main .right1 .right1-L .L{float:left;}
#main .right1 .right1-L .L p{font-size:50px;color:#C17D11}
#main .right1 .right1-L .L i{padding:2px;display:inline-block;border-radius:2px;font-size:14px;color:#fff;background:#ff4883}
#main .right1 .right1-L .R{float:right;margin-top:25px;}
#main .right1 .right1-L .R .R1{float:left;padding-left:15px;}
#main .right1  .R .R1 p{line-height:20px;color:#88888D;} 