#head{width:100%;background:#fafafa;}
#head .wrap{width:1210px;margin:0 auto;height:36px;border-bottom:1px solid #dfdfdf;line-height:36px;}
#head .wrap .left{float:left;}
#head .wrap .left li{float:left;font-size:14px;color:#8c8c8c}
#head .wrap .left span{color:#8c8c8c}
#head .wrap .left .left-L{margin-left:10px;position:relative;}
#head .wrap .left .left-L .panel{display:none;width:150px;border:1px solid #fafafa;height:200px;
position:absolute;left:0;top:35px;background:#fff;}
#head .wrap .left .panel li{padding:0 5px;}
#head .wrap .left .left-L a{color:#8c8c8c}
#head .wrap .right{float:right}
#head .wrap .right li{float:left;position:relative;}
#head .wrap .right li a{font-size:14px;padding:0 10px;color:#8c8c8c}
#head .wrap .right span{color:#8c8c8c}
#head .wrap .right .pane2{z-index:999;background:#fff;position:absolute;left:0;top:36px;display:none;border:1px solid #dfdfdf}
#head .wrap .right a:hover{color:red;}

.search{clear:both;margin-top:30px;}
.search .wrap{width:1210px;margin:0 auto;clear:both;}
.search .wrap h2{float:left;clear:both;}
.search .wrap h2 img{width:154px;height:42px;}
.search .wrap .txt{float:right;position:relative;}
.search .wrap .txt .sou{position: absolute;left:460px;top:15px;z-index:999;}
.search .wrap .txt .text1{text-indent:12px;font-size:14px;width:444px;height:40px;float:left;}
.search .wrap .txt .text2{width:40px;height:44px;float:left;background:#fff;border:1px solid #CECECE;}
.search .wrap .txt .text2:hover{}
.search .wrap .txt a{display:inline-block;background:#feda4e;margin-left:20px;text-align: center;}
.search .wrap .txt a span{display:inline-block;width:50px;height:40px;line-height:40px;}

.nav{}
.nav .wrap{width:1210px;margin:0 auto;clear:both;}
.nav .wrap li{float:left;height:44px;background:#414045;line-height:44px;margin-top:20px;}
.nav .wrap .te{width:216px;background:#ff318c;}

.nav .wrap li a{font-size:18px;padding:0 30px;color:#fff;}
.nav .wrap li:hover{background:#000000;}
.nav .wrap .te1 a{padding-right:2px;}
.nav .wrap .te:hover dl{display:block;}
.nav .wrap .te dl{display:none;background:#F2F5F5;width:214px;height:52px;border-bottom:1px solid #C0C0C0;border-left:1px solid #C0C0C0 ;border-right:1px solid #C0C0C0 ;}
.nav .wrap .te dt{float:left;padding-left:10px}
.nav .wrap .te dt a{padding:0;font-size:18px;font-weight:900;color:#000000;line-height:52px;}
.nav .wrap .te dd{margin-right:10px;text-align: right;}
.nav .wrap .te dd a{padding:0;display:inline-block;font-size:12px;line-height:52px;color:yellow}
.nav .wrap .te{position:relative;}
.nav .wrap .te .ed{background:#B7B7B7;display:none;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed{display:block;}


.nav .wrap .te .ed1{display:none;background:#B7B7B7;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed1 a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed1 p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed1{display:block;}
.nav .te dl:hover{background:#ff318c;}


#main .content{width:980px;margin:0 auto;}
#main .content .top{margin-top:20px;border-bottom:1px solid #B7B7B7;padding-bottom:20px;}
#main .content .top a{padding:3px;font-size:14px;color:#BBBBBB;}
#main .content .top span{color:#ff4883;font-size:14px;}
#main .content h2{font-size:20px;font-weight:700;color:#000000;margin:10px 0}
#main .content span{font-size:14px;margin-bottom:10px;}
#main .content .center{margin-top:15px;border-bottom:1px solid #B7B7B7;}
#main .content .center .left1{float:left;width:470px;height:418px;}
#main .content .center .left1 img{width:470px;height:285px;}
#main .center .left1 .xiaotu{margin:20px 0;}
#main .center .left1 .xiaotu img{width:110px;height:65px;} 
#main .content .center .right1{margin-left:28px;float:left;width:482px;height:345px;}
#main .right1 .right1-L{padding:10px;}
#main .right1 .right1-L .L{float:left;}
#main .right1 .right1-L .L p{font-size:50px;color:#C17D11}
#main .right1 .right1-L .L s{font-size:18px;color:#C17D11;font-weight:500}
#main .right1 .right1-L .L i{padding:2px;display:inline-block;border-radius:2px;font-size:14px;color:#fff;background:#ff4883}
#main .right1 .right1-L .R{float:right;margin-top:25px;}
#main .right1 .right1-L .R .R1{float:left;padding-left:15px;}
#main .right1 .right1-L .R1 .p1{text-decoration: line-through;}
#main .right1 .R .R1 p{line-height:20px;color:#88888D;}
#main .right1 .right1-L1{margin-top:10px;width:482px;height:91px;border-top:1px solid #9D9D9D;border-bottom:1px solid #9D9D9D;}
#main .right1 .right1-L1 span{color:#AAAAAA;font-size:12px;line-height:93px;padding:0 40px;border-right:1px solid #88888D;}
#main .right1 .right1-L1 a{padding:0 50px;color:#AAAAAA;}
#main .right1 .right1-L1 .a1{border-right:1px solid #9D9D9D;}
#main .right1 .youxiaoqi{margin:20px 0;color:#88888D;}
#main .right1 .youxiaoqi em{padding-right:40px;}
#main .right1 .shuliang span{font-size:12px;color:#88888D;}
#main .right1 .shuliang .anniu{display:inline;margin-left:30px;}
#main .right1 .shuliang .anniu input{width:20px;}
#main .right1 .qianggou{margin-top:15px;}
#main .right1 .qianggou a{padding:0 40px;display:inline-block;height:50px;background:#C17D11;color:#fff;
font-size:20px;line-height:50px;}

#main1 .wrap{width:980px;margin:0 auto;}
#main1 .wrap .main1-left{float:left;width:725px;}
#main1 .wrap .main1-right{margin-left:15px;float:left;width:210px;}
#main1 .wrap .main1-right .main1-right1 span{font-size:18px;line-height:40px;margin-right:78px;}
#main1 .wrap .main1-right .main1-right2{padding:20px 5px;border-bottom:1px solid #AAAAAA;}
#main1 .wrap .main1-right .main1-right2 img{width:90px;height:55px;}
#main1 .wrap .main1-right .main1-right2 .main1-right3{float:right;width:105px;height:53px;}
#main1 .wrap .main1-right2 .main1-right3 p{line-height:16px;padding-bottom:11px;}
#main1 .wrap .main1-right2 .main1-right3 i{color:#ff4883}
#main1 .wrap .main1-right2 .main1-right3 em{margin-left:15px;text-decoration:line-through;color:#AAAAAA;}
#main1 .wrap .main1-top{border-bottom:1px solid #AAAAAA;}
#main1 .wrap .main1-top span{font-size:20px;line-height:70px;font-weight:700}
#main1 .wrap .main1-top a{margin-left:578px;}
#main1 .wrap .main1-top1{margin-top:20px;}
#main1 .wrap .main1-top1 ul{display:flex;justify-content:space-between;flex-wrap: wrap;}
#main1 .wrap .main1-top1 img{width:155px;height:91px;}
#main1 .wrap .main1-top1 li p{font-size:14px;line-height:50px;text-align: center;}
#main1 .wrap .main1-top1 li span{font-size:14px;color:#C92258;font-weight:700}
#main1 .wrap .main1-top1 li em{margin-left:50px;}
#main1 .wrap .main1-top1 li{padding-bottom: 6px;border-bottom:1px solid #AAAAAA;}
#main1 .wrap .main1-top1 li:hover{border-bottom:1px solid #ff4883;}
#main1 .wrap .main1-left .main-pingfen{margin-top:10px;border-bottom:1px solid #AAAAAA;}
#main1 .wrap .main1-left .main-pingfen span{font-size:18px;color:#666;line-height:60px;}
#main1 .wrap .main1-left .main-pingfen a{margin-left:550px;}
#main1 .wrap .main1-left .main-pingfen1{border-bottom:1px solid #AAAAAA ;}
#main1 .wrap .main1-left .main-pingfen1 i{color:#ff4883;font-size:20px;font-weight:700}
#main1 .wrap .main1-left .main-pingfen1 span{margin-left:100px;line-height:100px;color:#AAAAAA}
#main1 .wrap .main1-left .main-pingfen2 ul{margin-top:32px;width:725px;text-align: center;}
#main1 .wrap .main1-left .main-pingfen2 li{width:179px;height:50px;float:left;line-height:50px;border-bottom:1px solid #ff4883;} 
#main1 .wrap .main1-left .main-pingfen2 .te2{background:#ff4883;}
#main1 .wrap .main-pingfen2 .te2 a{color:#fff;}
#main1 .wrap .main-pingfen2 li a{color:#000000;font-size:18px;font-weight:500;}
#main1 .wrap .main1-left .tu h4{font-size:20px;font-weight:700;line-height:60px;border-bottom: 1px solid #666;}


#footer{margin-top:35px;}
#footer .foot{background:#ECECEC;width:100%;border-top:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;height:200px;}
#footer .wrap{margin:0 auto;}
#footer .wrap .foot dl{padding:40px 0;text-align:center;width:230px;float:left;}
#footer .wrap .foot dl dt{font-size:18px;font-weight:700;color:#414045;margin-bottom:10px;}
#footer .wrap .foot dl dd{font-size:14px;color:#808080;margin-bottom:11px;}
#footer .wrap .foot dl .t{margin-left:43px;display:block;width:140px;height:40px;line-height:40px;color:#fff;background:#C92258;}

#footer .foot-b{text-align: center;margin-top:40px;}
#footer .foot-b .foot1 span{font-size:14px;}
#footer .foot-b .foot1 a{font-size:14px;}
#footer .foot-b .foot2{margin-top:8px;}
#footer .foot-b .foot3{margin-top:8px;}
