#head{width:100%;background:#fafafa;}
#head .wrap{width:1210px;margin:0 auto;height:36px;border-bottom:1px solid #dfdfdf;line-height:36px;}
#head .wrap .left{float:left;}
#head .wrap .left li{float:left;font-size:14px;color:#8c8c8c}
#head .wrap .left span{color:#8c8c8c}
#head .wrap .left .left-L{margin-left:10px;position:relative;}
#head .wrap .left .left-L .panel{display:none;width:150px;border:1px solid #fafafa;height:200px;
position:absolute;left:0;top:35px;background:#fff;}
#head .wrap .left .panel li{padding:0 5px;}
#head .wrap .left .left-L a{color:#8c8c8c}
#head .wrap .right{float:right}
#head .wrap .right li{float:left;position:relative;}
#head .wrap .right li a{font-size:14px;padding:0 10px;color:#8c8c8c}
#head .wrap .right span{color:#8c8c8c}
#head .wrap .right .pane2{z-index:999;background:#fff;position:absolute;left:0;top:36px;display:none;border:1px solid #dfdfdf}
#head .wrap .right a:hover{color:red;}

.search{clear:both;margin-top:30px;}
.search .wrap{width:1210px;margin:0 auto;clear:both;}
.search .wrap h2{float:left;clear:both;}
.search .wrap h2 img{width:154px;height:42px;}
.search .wrap .txt{float:right;position:relative;}
.search .wrap .txt .sou{position: absolute;left:460px;top:15px;z-index:999;}
.search .wrap .txt .text1{text-indent:12px;font-size:14px;width:444px;height:40px;float:left;}
.search .wrap .txt .text2{width:40px;height:44px;float:left;background:#fff;border:1px solid #CECECE;}
.search .wrap .txt .text2:hover{}
.search .wrap .txt a{display:inline-block;background:#feda4e;margin-left:20px;text-align: center;}
.search .wrap .txt a span{display:inline-block;width:50px;height:40px;line-height:40px;}

.nav{}
.nav .wrap{width:1210px;margin:0 auto;clear:both;}
.nav .wrap li{float:left;height:44px;background:#414045;line-height:44px;margin-top:20px;}
.nav .wrap .te{width:216px;background:#ff318c;}

.nav .wrap li a{font-size:18px;padding:0 30px;color:#fff;}
.nav .wrap li:hover{background:#000000;}
.nav .wrap .te1 a{padding-right:2px;}
.nav .wrap .te:hover dl{display:block;}
.nav .wrap .te dl{z-index:9999;display:none;background:#f9f9f9;width:214px;height:52px;border-bottom:1px solid #AAAAAA;border-left:1px solid #AAAAAA ;border-right:1px solid #AAAAAA ;}
.nav .wrap .te dt{float:left;padding-left:10px}
.nav .wrap .te dt a{padding:0;font-size:18px;font-weight:900;color:#000000;line-height:52px;}
.nav .wrap .te dd{margin-right:10px;text-align: right;}
.nav .wrap .te dd a{padding:0;display:inline-block;font-size:12px;line-height:52px;color:yellow}
.nav .wrap .te{position:relative;}
.nav .wrap .te .ed{background:#AAAAAA;display:none;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed{display:block;}


.nav .wrap .te .ed1{display:none;background:#AAAAAA;width:400px;height:420px;position: absolute;left:216px;top:43px;z-index:999;}
.nav .te .ed1 a{display:inline-block;width:60px;height:30px;font-size:12px;}
.nav .te .ed1 p{height:40px;line-height:40px;margin-left:10px;font-size:18px;color:#B7B7B7;}
.nav .te dl:hover .ed1{display:block;}
.nav .te dl:hover{background:#ff318c;}

#search{}
#search .wrap{width:1210px;margin:0 auto;}
#search .wrap .left{float:left;line-height:50px;}
#search .wrap .right{float:right;line-height:50px;}
#search .wrap .left span{font-size:14px;padding:10px 10px 10px 40px;color:#AAAAAA;}
#search .wrap .left .t1{width:250px;height:30px;}
#search .wrap .left .t2{margin-left:4px;border:1px solid #fff;width:69px;height:30px;background-color: rgb(255, 102, 153);color:#fff;}
#search .wrap .right span{font-size:14px;color:#CCCCCC;}
#search .wrap .right span a{color:#C92258;}

#search .wrap .w2{padding:15px 15px 15px 15px;border:1px solid #cccccc;}
#search .wrap .w2 .L1{border-bottom:1px solid #cccccc;}
#search .wrap .w2 li .L2{padding:5px;background:#ff5e89;color:#fff;}
#search .wrap .w2 li span{padding-right:15px;font-size:18px;font-weight:500;line-height:50px;color:#AAAAAA}
#search .wrap .w2 li a{padding-left:15px;}

#search .wrap .w2 li p{margin-left:50px;background:#fbfbfb;padding:10px 50px;}
#search .wrap .w2 li a:hover{color:#3699FF;text-decoration: underline;}

#xuanxiang{margin-top:30px;}
#xuanxiang h1{text-align: center;color:#3699FF;font-size:30px;margin-bottom: 10px;}
#xuanxiang .xuanxiang1{margin:0 auto;width:1210px;position:relative;}
#xuanxiang .xuanxiang1 ul{width:1210px;height:280px;margin-bottom: 15px;}
#xuanxiang .xuanxiang1 li .biaoti{width:302px;height:50px;text-align: center;font-size:24px;font-weight:500;background:#EFEFEF;line-height:50px;}
#xuanxiang .xuanxiang1 .te .biaoti{color:#fff;background:#7D83FF;}
#xuanxiang .xuanxiang1 li .left9 img{width:412px;height:200px;}
#xuanxiang .xuanxiang1 li .right9 img{width:196px;height:200px;}
#xuanxiang .xuanxiang1 li .left9{float:left;}
#xuanxiang .xuanxiang1 li .right9{float:left;}
#xuanxiang .xuanxiang1 li .right9 dl{float:left;border:1px solid #fff;}
#xuanxiang .xuanxiang1 li{float:left;}
#xuanxiang .xuanxiang1 li .box{width:1210px;position:absolute;left:0;}


#main{}
#main .wrap{margin:0 auto;width:1210px;}
#main .wrap .main5{margin-top:30px;}
#main .wrap .main5 .main5-1{}
#main .wrap .main5 .main5-1 h4{font-size:30px;font-weight:700;text-align: center;color:#3699FF;}
#main .wrap .main5 .main5-1 span{float:right;}

#main .wrap .main5 .main5-2 ul{width:1210px;display:flex;justify-content:space-between;flex-wrap: wrap;}
#main .wrap .main5 .main5-2 li{border:1px solid white;position:relative;padding:1px;width:224px;height:292px;overflow:hidden;margin-top:15px;}
#main .main5 .main5-2 li:hover{border:1px solid #ff4883}
#main .main5 .main5-2 li .ding{width:224px;height:30px;background:#000000;opacity:0.5;
position:absolute;left:0;top:106px;z-index:999;color:#fff;text-align: center;line-height:30px;display:none;}
#main .main5 .main5-2 li:hover .ding{display:block;transition: 2s;}
#main .main5 .main5-2 li img{width:224px;height:135px;}
#main .main5 .main5-2 li p{font-size:18px;font-weight:700;height:36px;line-height:36px;} 
#main .main5 .main5-2 li p:hover{color:#ff4883}
#main .main5 .main5-2 li span{font-size:12px;color:#88888D;line-height:20px;}
#main .main5 .main5-2 li span:hover{color:yellow;text-decoration: underline;}
#main .main5 .main5-2 li i{display:block;width:60px;font-size:14px;color:#fff;background:#ff4883;border:1px solid #ff4883;border-radius:15%;margin-top:10px;}
#main .main5 .main5-2 li em{display:block;margin-top:8px;font-size:20px;font-weight:700;color:#ff4883}
#main .main5 .main5-2 li .t5{margin-top:8px;color:#003366;}
#main .main5 .main5-2 li .t6{margin-left:110px;color:#003366;}
#main .main5 .main5-bottom{text-align:center;line-height:26px;
margin-top:15px;height:26px;border:1px solid #B7B7B7;
background:#B7B7B7;color:#6D6D6D;font-size:12px;margin-bottom:20px;}

#footer{margin-top:30px;}
#footer .foot{background:#ECECEC;width:100%;border-top:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;height:200px;}
#footer .wrap{margin:0 auto;}
#footer .wrap .foot dl{padding:40px 0;text-align:center;width:230px;float:left;}
#footer .wrap .foot dl dt{font-size:18px;font-weight:700;color:#414045;margin-bottom:10px;}
#footer .wrap .foot dl dd{font-size:14px;color:#808080;margin-bottom:11px;}
#footer .wrap .foot dl .t{margin-left:43px;display:block;width:140px;height:40px;line-height:40px;color:#fff;background:#C92258;}

#footer .foot-b{text-align: center;margin-top:40px;}
#footer .foot-b .foot1 span{font-size:14px;}
#footer .foot-b .foot1 a{font-size:14px;}
#footer .foot-b .foot2{margin-top:8px;}
#footer .foot-b .foot3{margin-top:8px;}

